.logo {
    height: 48px;
    line-height: 48px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    padding: 16;
    text-align: center;

    a {
        color: #fff;
        text-decoration: none;
    }
}
